# Features

In [1]:
import pandas as pd
import numpy as np
from MAslope import ma_slope

# Data
df = pd.read_parquet("btc_binance_1d.parquet")
df.head()

# Log returns
df['Returns'] = np.log(df['Close'] / df['Close'].shift())

for i in [7, 14, 21, 30]:
    df = ma_slope(df, ma_type='EMA', length=i, slope_mode='Normalized', col_name=f'slope_{i}')

df.dropna(inplace=True)
df

,Open,High,Low,Close,Volume,Returns,slope_7,slope_14,slope_21,slope_30
Date,,,,,,,,,,
2017-09-16,3674.01,3950.00,3470.66,3714.95,1297.563953,0.004032,-1.073904,-1.195123,-0.977491,-0.757684
2017-09-17,3685.23,3748.21,3499.02,3699.99,682.171210,-0.004035,-0.911085,-1.097203,-0.930232,-0.737324
2017-09-18,3690.00,4123.20,3690.00,4035.01,1030.006455,0.086679,1.495757,0.169982,-0.099188,-0.168323
2017-09-19,4060.00,4089.97,3830.91,3910.04,902.332129,-0.031461,0.311813,-0.270929,-0.370303,-0.353649
2017-09-20,3910.04,4046.08,3820.00,3900.00,720.935076,-0.002571,0.168780,-0.269161,-0.360412,-0.347754
...,...,...,...,...,...,...,...,...,...,...
2026-01-20,92630.99,92870.00,87895.98,88427.66,22007.326100,-0.046439,-1.477784,-0.686893,-0.401929,-0.252542
2026-01-21,88427.66,90574.00,87263.53,89454.73,20617.503720,0.011548,-0.837802,-0.449368,-0.264743,-0.164329
2026-01-22,89454.73,90359.99,88515.37,89559.67,10825.504920,0.001172,-0.603380,-0.375674,-0.230825,-0.146553
2026-01-23,89559.68,91224.99,88578.36,89600.26,13918.489190,0.000453,-0.443366,-0.320714,-0.206241,-0.134417
2026-01-24,89600.26,89957.39,89162.08,89367.91,4034.007060,-0.002597,-0.398070,-0.312782,-0.211024,-0.142351

In [2]:
# Features computation
df_features = pd.DataFrame(index=df.index)
df_features = df[['Returns', 'slope_7','slope_14','slope_21','slope_30']]
df_features.dropna(inplace=True)

C:\Users\marcs\AppData\Local\Temp\ipykernel_6920\606731514.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_features.dropna(inplace=True)

In [3]:
df_features.head()

             Returns   slope_7  slope_14  slope_21  slope_30
Date
2017-09-16  0.004032 -1.073904 -1.195123 -0.977491 -0.757684
2017-09-17 -0.004035 -0.911085 -1.097203 -0.930232 -0.737324
2017-09-18  0.086679  1.495757  0.169982 -0.099188 -0.168323
2017-09-19 -0.031461  0.311813 -0.270929 -0.370303 -0.353649
2017-09-20 -0.002571  0.168780 -0.269161 -0.360412 -0.347754

In [4]:
from ydata_profiling import ProfileReport
profile = ProfileReport(df_features, title="Report")
profile.to_file("report.html")

ModuleNotFoundError: No module named 'ydata_profiling'

In [ ]:
df_features.to_parquet('btc_features.parquet')